.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  /* justify-content: center;  */
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-sec-1{
  background-color: #282c34;
  color: white;

}

.main-sec-1-col-1 {
  text-align: left;
}

.main-sec-1-col-2{
padding: 40px 20px;
position: relative;
}

.exp-div {
  /* position: absolute; */
    /* top: 124px; */
    /* bottom: 0px; */
    /* right: 180px; */
    background:#61dafb;
    padding: 40px;
    /* border: solid 4px #61dafb; */
    border-radius: 6px;
    font-size: 30px;
    background-image: linear-gradient(to right, #61dafb , white);
    color: #212529;
    width: 40%;
    margin: auto;
}

.exp-div-mweb {
  background:#61dafb;
  /* padding: 40px; */
  /* border: solid 4px #61dafb; */
  border-radius: 6px;
  font-size: 30px;
  background-image: linear-gradient(to right, #61dafb , white);
  color: #212529;
  width: 95%;
    margin: auto;
  /* width: 30%; */
  /* margin: auto; */
}

.text-class {
  font-size: 46px;
  position: relative;
}

.text-class-subclass {
  font-size: 42px;
}

.text-class-subclass-skill {
  font-size: 22px;
}

.let-class{
  /* color: darkgray */
  color: #61dafb;
}
.App-link {
  color: #61dafb;
  text-decoration: none;
}

.ul-list-mob{
  text-align: left;
}
.App-link:hover {
  color: #61dafb;
  /* text-decoration: none; */
}

.hire-me {
  /* color: #fff; */
  background-color:  #61dafb !important;
  color: #212529 !important;
  border-color: #61dafb !important;


}

.hire-me:hover {
  color: #212529 !important;
  background-color:  #61dafb !important;
  /* text-decoration: underline; */
  border-color: #61dafb !important;
  /* border: solid 2px #61dafb !important; */
  background-image: linear-gradient(to right, #61dafb , white);


}
.name {
  color: #61dafb;
}

.sec-2{
  padding: 25px 20px;
}

.sec-heading{
  font-size: 36px;
  color: #61dafb;
}

.ul-list{
  width: 80%;
  margin: auto;
}

.ul-list-company {
  float: left;
  font-size: 22px;
}

.ul-list-tenure {
  float: right;
  font-size: 18px;
}

.exp-list{
  list-style: none;
}
.job-title{
  margin-bottom: 0px;
  font-size: 22px;
}
.job-profile{
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
}
.jd-list{
  text-align: left;
  list-style: disc;
  font-size: 18px;
}
.projects-list{
  text-align: left;
}
strong {
  color: darkgray;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
